# Feature Engineering

---

1. Import packages
2. Load data
3. Feature engineering

---

## 1. Import packages

In [1]:
import pandas as pd

---
## 2. Load data

In [17]:
df = pd.read_csv(r"C:\Users\dell\OneDrive - Université Mohammed VI Polytechnique\Bureau\BCG INTERSHIP\clean_data_.csv")
df["date_activ"] = pd.to_datetime(df["date_activ"], format='%Y-%m-%d')
df["date_end"] = pd.to_datetime(df["date_end"], format='%Y-%m-%d')
df["date_modif_prod"] = pd.to_datetime(df["date_modif_prod"], format='%Y-%m-%d')
df["date_renewal"] = pd.to_datetime(df["date_renewal"], format='%Y-%m-%d')

In [18]:
df.head(3)

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,var_6m_price_off_peak_var,var_6m_price_peak_var,var_6m_price_mid_peak_var,var_6m_price_off_peak_fix,var_6m_price_peak_fix,var_6m_price_mid_peak_fix,var_6m_price_off_peak,var_6m_price_peak,var_6m_price_mid_peak,churn
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,...,0.000131,4.100838e-05,0.000908,2.086294,99.530517,44.235794,2.086425,9.953056e+01,44.236702,1
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,0.000003,1.217891e-03,0.000000,0.009482,0.000000,0.000000,0.009485,1.217891e-03,0.000000,0
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,0.000004,9.450150e-08,0.000000,0.000000,0.000000,0.000000,0.000004,9.450150e-08,0.000000,0

---

## 3. Feature engineering

### Difference between off-peak prices in December and preceding January

Below is the code created by your colleague to calculate the feature described above. Use this code to re-create this feature and then think about ways to build on this feature to create features with a higher predictive power.

In [19]:
price_df = pd.read_csv(r"C:\Users\dell\OneDrive - Université Mohammed VI Polytechnique\Bureau\BCG INTERSHIP\price_data (1).csv")
price_df["price_date"] = pd.to_datetime(price_df["price_date"], format='%Y-%m-%d')
price_df.head()

,id,price_date,price_off_peak_var,price_peak_var,price_mid_peak_var,price_off_peak_fix,price_peak_fix,price_mid_peak_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.0,0.0,44.266931,0.0,0.0
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.0,0.0,44.266931,0.0,0.0
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.0,0.0,44.266931,0.0,0.0
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.0,0.0,44.266931,0.0,0.0
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.0,0.0,44.266931,0.0,0.0

In [20]:
# Group off-peak prices by companies and month
monthly_price_by_id = price_df.groupby(['id', 'price_date']).agg({'price_off_peak_var': 'mean', 'price_off_peak_fix': 'mean'}).reset_index()

# Get january and december prices
jan_prices = monthly_price_by_id.groupby('id').first().reset_index()
dec_prices = monthly_price_by_id.groupby('id').last().reset_index()

# Calculate the difference
diff = pd.merge(dec_prices.rename(columns={'price_off_peak_var': 'dec_1', 'price_off_peak_fix': 'dec_2'}), jan_prices.drop(columns='price_date'), on='id')
diff['offpeak_diff_dec_january_energy'] = diff['dec_1'] - diff['price_off_peak_var']
diff['offpeak_diff_dec_january_power'] = diff['dec_2'] - diff['price_off_peak_fix']
diff = diff[['id', 'offpeak_diff_dec_january_energy','offpeak_diff_dec_january_power']]
diff.head()
df = pd.merge(df, diff, on='id', how='left')
df.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,var_6m_price_mid_peak_var,var_6m_price_off_peak_fix,var_6m_price_peak_fix,var_6m_price_mid_peak_fix,var_6m_price_off_peak,var_6m_price_peak,var_6m_price_mid_peak,churn,offpeak_diff_dec_january_energy,offpeak_diff_dec_january_power
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,...,9.084737e-04,2.086294,99.530517,44.235794,2.086425,9.953056e+01,4.423670e+01,1,0.020057,3.700961
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,0.000000e+00,0.009482,0.000000,0.000000,0.009485,1.217891e-03,0.000000e+00,0,-0.003767,0.177779
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,0.000000e+00,0.000000,0.000000,0.000000,0.000004,9.450150e-08,0.000000e+00,0,-0.004670,0.177779
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,0.000000e+00,0.000000,0.000000,0.000000,0.000003,0.000000e+00,0.000000e+00,0,-0.004547,0.177779
4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,...,4.860000e-10,0.000000,0.000000,0.000000,0.000011,2.896760e-06,4.860000e-10,0,-0.006192,0.162916

Now it is time to get creative and to conduct some of your own feature engineering! Have fun with it, explore different ideas and try to create as many as yo can!

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14606 entries, 0 to 14605
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               14606 non-null  object
 1   channel_sales                    14606 non-null  object
 2   cons_12m                         14606 non-null  int64
 3   cons_gas_12m                     14606 non-null  int64
 4   cons_last_month                  14606 non-null  int64
 5   date_activ                       14606 non-null  datetime64[ns]
 6   date_end                         14606 non-null  datetime64[ns]
 7   date_modif_prod                  14606 non-null  datetime64[ns]
 8   date_renewal                     14606 non-null  datetime64[ns]
 9   forecast_cons_12m                14606 non-null  float64
 10  forecast_cons_year               14606 non-null  int64
 11  forecast_discount_energy         14606 non-null  float64
 12  forecast_meter_rent_12m          14606 non-null  float64
 13  forecast_price_energy_off_peak   14606 non-null  float64
 14  forecast_price_energy_peak       14606 non-null  float64
 15  forecast_price_pow_off_peak      14606 non-null  float64
 16  has_gas                          14606 non-null  object
 17  imp_cons                         14606 non-null  float64
 18  margin_gross_pow_ele             14606 non-null  float64
 19  margin_net_pow_ele               14606 non-null  float64
 20  nb_prod_act                      14606 non-null  int64
 21  net_margin                       14606 non-null  float64
 22  num_years_antig                  14606 non-null  int64
 23  origin_up                        14606 non-null  object
 24  pow_max                          14606 non-null  float64
 25  var_year_price_off_peak_var      14606 non-null  float64
 26  var_year_price_peak_var          14606 non-null  float64
 27  var_year_price_mid_peak_var      14606 non-null  float64
 28  var_year_price_off_peak_fix      14606 non-null  float64
 29  var_year_price_peak_fix          14606 non-null  float64
 30  var_year_price_mid_peak_fix      14606 non-null  float64
 31  var_year_price_off_peak          14606 non-null  float64
 32  var_year_price_peak              14606 non-null  float64
 33  var_year_price_mid_peak          14606 non-null  float64
 34  var_6m_price_off_peak_var        14606 non-null  float64
 35  var_6m_price_peak_var            14606 non-null  float64
 36  var_6m_price_mid_peak_var        14606 non-null  float64
 37  var_6m_price_off_peak_fix        14606 non-null  float64
 38  var_6m_price_peak_fix            14606 non-null  float64
 39  var_6m_price_mid_peak_fix        14606 non-null  float64
 40  var_6m_price_off_peak            14606 non-null  float64
 41  var_6m_price_peak                14606 non-null  float64
 42  var_6m_price_mid_peak            14606 non-null  float64
 43  churn                            14606 non-null  int64
 44  offpeak_diff_dec_january_energy  14606 non-null  float64
 45  offpeak_diff_dec_january_power   14606 non-null  float64
dtypes: datetime64[ns](4), float64(31), int64(7), object(4)
memory usage: 5.1+ MB

In [22]:

# task 1:Identify columns with only one unique value or irrelevant columns
columns_to_remove = [col for col in df.columns if df[col].nunique() <= 1]
print(f"Columns to remove: {columns_to_remove}")

Columns to remove: []

In [23]:
# task2:Expand date columns
date_columns = ['date_activ', 'date_end', 'date_modif_prod', 'date_renewal']
for date_col in date_columns:
    df[f'year_{date_col}'] = df[date_col].dt.year
    df[f'month_{date_col}'] = df[date_col].dt.month
    df[f'day_{date_col}'] = df[date_col].dt.day
    df[f'dayofyear_{date_col}'] = df[date_col].dt.dayofyear

# tas34:Combine columns to create new features
df['margin_ratio'] = df['net_margin'] / df['margin_gross_pow_ele']
df['cons_ratio'] = df['cons_12m'] / (df['cons_last_month'] + 1)  # Ajout de 1 pour éviter la division par zéro
df['total_forecast_price'] = df['forecast_price_energy_off_peak'] + df['forecast_price_energy_peak']
df.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,month_date_modif_prod,day_date_modif_prod,dayofyear_date_modif_prod,year_date_renewal,month_date_renewal,day_date_renewal,dayofyear_date_renewal,margin_ratio,cons_ratio,total_forecast_price
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,...,11,1,305,2015,6,23,174,26.689858,0.000000,0.212623
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,8,21,233,2015,8,31,243,1.153236,4660.000000,0.145711
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,4,16,106,2015,4,17,107,0.230769,544.000000,0.253693
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,3,30,89,2015,3,31,90,0.842488,1584.000000,0.146694
4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,...,1,13,13,2015,3,9,68,1.068359,8.396584,0.216915

In [25]:
# Combine columns to create new features
df['margin_ratio'] = df['net_margin'] / df['margin_gross_pow_ele']
df['cons_ratio'] = df['cons_12m'] / (df['cons_last_month'] + 1)  # Ajout de 1 pour éviter la division par zéro
df['total_forecast_price'] = df['forecast_price_energy_off_peak'] + df['forecast_price_energy_peak']